.experimentResultsContainer {
    padding: 20px;
    border-radius: 6px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.allExperimentResultsContainer {
    width: 30vw;
    margin-left: 10vw;
}