.canv {
    background-color: lavender;
    width: 50vw;
}

.canvContainer {
    border-radius: 50px;
    padding: 2vh 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

.shrinkCustomButtonAmendments {
    padding: 0px 20px !important;
    height: 30px !important;
    font-size: 12px !important;
}

.resultsContainer {
    padding: 20px;
    border-radius: 6px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 35vw;
}

.solver-screen-cross-button-location {
    position: absolute;
    left: 25vw;
    bottom: 2vh;
}